@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --primary: #365af2;
    --background: #09090b;
    --secondary: #0f0f11;
    --text: #efefef;
    --error: #d21f1f;
    --success: #129b12;
}

@theme {
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-secondary: var(--secondary);
    --color-error: var(--error);
    --color-success: var(--success);
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.content {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.active {
    color: white;
}

.button {
    @apply inline-flex w-fit bg-primary py-2 px-6 rounded-lg text-white cursor-pointer gap-2 items-center;
}

.modal-overlay {
    @apply w-screen h-screen fixed flex justify-center items-center top-0 left-0 bg-black/70 z-20;
}

.modal {
    @apply max-w-3xl w-full min-h-40 max-h-screen bg-secondary rounded-lg flex flex-col justify-center shadow-lg p-4 gap-4;
}
