@import "tailwindcss";

:root {
    --primary: #1076d5;
}

@theme {
    --color-primary: var(--primary);
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}

.content {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.active {
    color: var(--primary);
}
